* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-family: 'Poppins', sans-serif;
}

.header {
  background: radial-gradient(#fff, green);
}

.logo img {
  width: 115px;
  border-radius: 20%;
  height: 115px;

}



a {
  text-decoration: none;
  color: #555;
}

p {
  color: #555;
}

.row {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col-2 {
  flex-basis: 50%;
  min-width: 300px;
  padding: 20px;
}

.col-2 img {
  max-width: 100%;
  padding: 50px 0;
  border-radius: 20%;
  height: auto;
}

.col-2 h1 {
  font-size: 50px;
  line-height: 60px;
  margin: 25px 0;
}

.shopping-icon {
  display: inline-block;
  vertical-align: middle;
  font-size: 20px;
  color: rgb(8, 8, 8);
  cursor: pointer;
}


.user_icon {
  display: none;
  vertical-align: middle;
  align-items: center;
}

.user_logo {
  height: 40px;
  border-radius: 50%;
}



.btn {
  display: inline-block;
  background: #ff523b;
  color: #fff;
  padding: 8px 30px;
  margin: 30px 0;
  border-radius: 30px;
  transition: 0.5s;
}

.btn:hover {
  background: #563434;
}

footer {
  background-color: #2c3e50;
  color: #ecf0f1;
  padding: 25px;
  text-align: center;
  font-size: 0.95em;
  margin-top: auto;
}

footer p {
  margin: 0;
  line-height: 1.6;
  color: white;
}