
/* Search bar*/

.container-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
}

.search {
  position: relative;
  width: 100%;
  max-width: 400px; /* Optional: max width on large screens */
  height: 50px;
  background: white;
  border-radius: 25px;
  border: 4px solid white;
  padding: 5px;
  overflow: hidden;
  transition: all 0.5s ease;
  box-sizing: border-box;
}

#search-box {
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 50px); /* leave space for button */
  height: 42.5px;
  line-height: 32px;
  outline: 0;
  border: 0;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
  opacity: 1;
  transition: all 0.5s ease;
  box-sizing: border-box;
}

.search button {
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 50%;
  text-align: center;
  background: rgb(192, 133, 16);
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  transition: all 0.5s ease;
}

