* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Cascadia Code', sans-serif;
}

body {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

body::before
{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('/images/background_picture.PNG') center fixed;
  opacity: 0.4;
}

.usercontainer {
  position: relative;
  width: 400px;
  /* background:#6c9753; */
  border: 2px solid rgba(255, 255, 255, .5);
  border-radius: 20px;
  backdrop-filter:blur(20px);
  /* box-shadow: 0 0 40px rgba(0, 0, 0, .5); */
  /* overflow: hidden; */
}

.form_for_login_signup {
  width: 100%;
  padding: 40px;
}

.form {
  width: 100%;
}

.form h2 {
  font-size: 2em;
  color: rgb(14, 13, 13);
  text-align: center;
}

.user_input {
  position: relative;
  width: 100%;
  height: 50px;
  border-bottom: 2px solid black;
  margin: 30px 0;
}

.user_input input {
  width: 100%;
  height: 100%;
  background: transparent;
  border: none;
  outline: none;
  font-size: 1em;
  color: rgb(14, 14, 14);
  padding-right: 35px;
}

.user_input label {
  position: absolute;
  top: 50%;
  left: 5px;
  transform: translateY(-50%);
  font-size: 1em;
  color: rgb(255, 255, 255);
  pointer-events: none;
  transition: .5s;
}


.user_input i {
  position: absolute;
  top: 50%;
  right: 5px;
  transform: translateY(-50%);
  font-size: 1.2em;
  color: rgb(0, 0, 0);
}

/* .remember_forgot_password_box {
  display: flex;
  justify-content: space-between;
  font-size: .9em;
  color: black;
  margin: -15px 0 15px;
}

.remember_forgot_password_box label input {
  accent-color: black;
  margin-right: 3px;
}

.remember_forgot_password_box a {
  color: black;
  text-decoration: none;
}

.remember_forgot_password_box a:hover {
  text-decoration: underline;
} */

.btn {
  width: 100%;
  height: 45px;
  background: #f0f0f0;
  border: none;
  outline: none;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, .1);
  cursor: pointer;
  font-size: 1em;
  font-weight: 500;
  transition: background-color 0.3 ease;
}

button:hover {
  background-color: #ab7cc0;
}


.registration,
.login_link {
  text-align: center;
  margin-top: 20px;
}


.registration p a,
.login_link p a {
  color: black;
  font-weight: 600;
}

.form.register {
  display: none;
}

.usercontainer.active .form.login {
  display: none;
}

.usercontainer.active .form.register {
  display: block;
}

/* .modal {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  justify-content: center;
  align-items: center;
  transition-delay: 1.2s;
}

.modal_content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 300px;
  text-align: initial;
}

.close_button {
  position: absolute;
  top: 10px;
  right: 20px;
  font-size: 25px;
  color: #000;
  cursor: pointer;
}

.close_button:hover {
  color: black;
} */

/* .forgot_password .user_input {
  margin-bottom: 20px;
  border-bottom: 2px solid #333;
}

.forgot_password .user_input input {
  color: #333;
}

.forgot_password .user_input label {
  color: #333;
}

.forgot_password .user_input i {
  color: #333;
}

.forgot_password .btn {
  background: #32CD32;
  color: black;
  box-shadow: 0 0 10px rgba(0, 0, 0, .2);
} */
